<body>
<<<<<<< HEAD
  <p> Puppy Name: <%= @puppy.name %> </p>
  <p> Puppy Breed: <%= @puppy.breed %> </p>
  <p> Puppy Age: <%= "#{@puppy.age} months" %> </p>
=======
  <p>Puppy Name: <%= @puppy.name %></p>
  <p>Puppy Breed: <%= @puppy.breed %></p>
  <p>Puppy Age: <%= @puppy.age %> months</p>
>>>>>>> c2b8ee2a09590b38b13d0b9e7d7021c7a6cbc55f
</body>